
<!DOCTYPE html >
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <title>PHP/MySQL & Google Maps Example</title>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBv9r4rcnszGW9L3oSnSOjcLIczzQGZwIM&sensor=true"></script>
    <script type="text/javascript">
    //<![CDATA[


    function load() {
      var map = new google.maps.Map(document.getElementById("map"), {
        center: new google.maps.LatLng(40.735161, -73.992774),
        zoom: 13,
        mapTypeId: 'satellite'
      });
      var infoWindow = new google.maps.InfoWindow;

      // Change this depending on the name of your PHP file
      downloadUrl("http://itp.nyu.edu/~rmh398/sinatra/final/db/anon_posts.yml", function(data) {
        console.log(data.responseText.substring(4));
        var markers = data.responseText.substring(4).split('\n- ');
        for (var i = 1; i < markers.length; i++) {
          var markerData = markers[i].split('\n  ');
          var html = "<b>" + markerData[1].substring(8) + "</b> <br/>" + markerData[2].substring(8);
          var marker = new google.maps.Marker({
            map: map,
            position: new google.maps.LatLng(getByKey('lat', markerData), getByKey('lng', markerData))
          });
          bindInfoWindow(marker, map, infoWindow, html);
          console.log(marker.position);
        }
        
      });
    }

    function bindInfoWindow(marker, map, infoWindow, html) {
      google.maps.event.addListener(marker, 'click', function() {
        infoWindow.setContent(html);
        infoWindow.open(map, marker);
      });
    }

    function downloadUrl(url, callback) {
      var request = window.ActiveXObject ?
          new ActiveXObject('Microsoft.XMLHTTP') :
          new XMLHttpRequest;

      request.onreadystatechange = function() {
        if (request.readyState == 4) {
          request.onreadystatechange = doNothing;
          callback(request, request.status);
        }
      };

      request.open('GET', url, true);
      request.send(null);
    }

    function doNothing() {}
    
    function getByKey(key, array) {
      var l = array.length;
      for(i = 0; i < l; i++) {
        var text = array[i];
        var index = text.indexOf(key+': ');
        if(index != -1) return text.substring(index + key.length + 2);
      }
      return null;
    }

    //]]>

  </script>

  </head>

  <body onload="load()">
    <div id="map" style="height: 600; width:900; margin-left: auto; margin-right:auto;"></div>
    
    <a href="http://itp.nyu.edu/~rmh398/sinatra/final/board" title="Feed Link" style="background-image:url(http://itp.nyu.edu/~rmh398/sinatra/final/public/secret_cities_FEED2.png);
display:block;
height:44px;
text-indent:-9999px;
margin-left: auto;
margin-right: auto;
float:right;
margin-right:260;
margin-top:15;
width:189;"> FEED link </a>

<a href="http://itp.nyu.edu/~rmh398/sinatra/final/about" title="About Link" style="background-image:url(http://itp.nyu.edu/~rmh398/sinatra/final/public/secret_cities_ABOUT2.png);
display:block;
height:44px;
text-indent:-9999px;
margin-left: auto;
margin-right: auto;
float:left;
margin-left:260;
margin-top:15;
width:189;"> ABOUT link </a>
    
  </body>

</html>